
.top{
      background-color: #0A33F3
      font-size: 50 px;
      text-align: center;
      color: #C11F1C;    
}
.felix-image{
<<<<<<< HEAD
      background-image: url(my-images/felix.jpeg);
      width: 500px;
      height: 400px;
      background-repeat: no-repeat;
      margin-left: 160px;
      margin-top: 40px;
      margin-left: 50px;
      margin-top: 5px;

      background-image: url(my-images/felix.jpeg);
      width: 400px;
      height: 500px;
      background-repeat: no-repeat;
      margin-left: 160px;
      margin-top: 40px;
>>>>>>> master
}
.middle{
      font-size: 40 px;
      color: #F3A90A;
      text-align: center;
      text-decoration: underline;
      text-transform: uppercase
}
.felix-description{ 
      text-align: center;
      font-size: 40;

}

.header{
       text-align: left;
       font-size: 40;
       font-size: 40 px;
       color: #F3A90A;
}
.sub-header{ 
       text-align: center;
       font-size: 40 px;
}
.Bottom-layout{
       margin-left: 700px;
       background-color:#1CC15C;
       padding-left: 20px;
       padding-right: 20px

}
              
               
             
       


